.main_input{
    margin-top: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
    label{
        position: absolute;
        top: -29px;
        height: 20px;
        margin-left: 50px;
        background-color:#fff;
        z-index: 9;
        padding: 15px;
        font-size: 20px;
        color: #000;

    }
    select{
        position: absolute;
         
         width: 70%;
         bottom: 18px;
         border:none;
         left: 14%;
         font-size: 18px;
         border: 0px;
         outline: none;
         color: #969B85CC;
        option{
            color: black;
        }
    }
    input{
        width: 80%;
        max-height: 62px;
        border: none;
        border: 1px solid #707070;
        outline: none;
        padding:35px;
        padding-left: 50px;
        font-size: 20px;
       
    }
    input::placeholder {
        color: #969B858F;
    }
 
    position: relative;
    .mark{
        position: absolute;
        right: 11%;
        top: 10px;
        background-color: #fff;
        
    }

    textarea{
        font-size: 20px;
        outline: none;
        float: left;
        
    }
    textarea::placeholder {
        color: #969B858F;
        
    }
    
}   