.inline-block{
    display: inline-block;
}
.center{
    text-align: center;
}
.opacity{
    background-color: rgba(10, 10, 10,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
   

   z-index: 1;
   

   
}