table{
 
    text-align: center;
    width: 100%;
    max-width: 100%;
    color: #707070;
    font-size: 16px;
    z-index: 100;
   
//more
tr{
.moreIcon{
  
    font-weight: bold;
    cursor: pointer;
    float: right;
    position: relative;
    button{
        font-size: 24px;
        background-color: #fff;
        border: none;
        color: #707070;
    }
   
}
}
    thead{
        font-size: 18px;
       margin: 100px;
        border-bottom: .25px solid #e4e6e1cf;
        border-top: .25px solid #e4e6e1cf;
        th{
            font-weight: 600;
            color: #adadadcf;
        }
    }
    th{
        padding: 15px;
        font-weight: normal;
        max-width: 100%;
        position: relative;
        .no-data{
            width: 30px;
            max-width: 100%;
            height: 2px;
            background-color: #bebebc;
            margin: auto;
        
        }
        @media screen and (max-width: 767px) {
           padding:10px ;
        }

        button{
            border: none;
            color: #fff;
            background-color: #152F55;
            width: 74px;
            height: 30px;
            font-size: 14px;
            font-weight: 400;
        }
    }
    
}