.log-sign{
    .log-sign_image{
    background: url("../../../../src/backgrounds/grage.png");
    width: 100%;
    height: 670px;
    background-repeat:no-repeat ;
    background-size:100% 100%; 
    padding-top: 200px;
    position: relative;
   
  
    @media screen and (max-width: 770px) {
       // padding-top: 50px;
       height: 750px;
    } 
    @media screen and (min-width: 1400px) {
        // padding-top: 50px;
        height: 840px;
     } 
 
   .login_type{
       opacity: 1;
      
    margin: auto;
   
    width: 352px;
    height: 298px;
    background-color: #71A43F;
    text-align: center;
    color: #fff;
    margin-top: 200px;
    max-width: 95%;
   
   z-index: 99999999;
   @media screen and (min-width: 1400px) {
    margin-top: 250px;
   }
    @media screen and (max-width:767px) {
        margin: auto;
        text-align: center;
       // margin-left: 20px;
        margin-top: 50px;
      
    } 
    .login_logo{
        position: absolute;
        background-color: #fff;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin: auto;
        margin-left:138.5px;
        margin-top: -37.5px;
       
        img{
            width: 53px;
            height: 53px;
            padding: 7px;
            
            margin: auto;
            
            vertical-align: middle;
            margin-top: 15px;

        }
    }
    h4{
        font-size: 20px;
        padding-top: 65px;
    }
    p{ 
        padding-top: 30px;
        padding-bottom: 14px;
        max-width: 309px;
        margin: auto;
        font-size: 18px;
    }
    position: relative;
    button{
        width: 277px;
        height: 52px;
        color: #FFF;
        border: none;
        border-radius: 26px;
        background: rgba(255, 255, 255, 0.4) ;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        bottom: 25px;
        margin-left:-133px;
        
      

    }
   }
   .opacity{
      position: absolute;
   }
} 

.logo{
    height: 80px;
    background-color: #fff;
    text-align: center;
   // position: fixed;
   margin-top: 0px;
    left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;

    img{
        margin: auto;
        width: 241px;
        height:50px;
        margin-top: 20px;
        margin-bottom: 14px;
       
    }

}
}