.log-sign{
    .log-sign_image{
    background: url("../../../../src/backgrounds/grage.png");
    width: 100%;
    height: 800px;
    background-repeat:no-repeat ;
    background-size:100% 100%; 
    padding-top: 200px;
    position: relative;
   
  
    @media screen and (max-width: 770px) {
        padding-top: 50px;
    } 
    .opacity{
        background-color: rgba(10, 10, 10,.6);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    
       z-index: 1;
   
       
    }
   .login_type{
       opacity: 1;
      
    margin: auto;
    margin-left: 27%;
    width: 352px;
    height: 298px;
    background-color: #71A43F;
    text-align: center;
    color: #fff;
    margin-top: 250px;
   
   z-index: 99999999;
    @media screen and (max-width:767px) {
        margin: auto;
        text-align: center;
       // margin-left: 20px;
        margin-top: 50px;
      
    } 
    .login_logo{
        position: absolute;
        background-color: #fff;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin: auto;
        margin-left:138.5px;
        margin-top: -37.5px;
        img{
            width: 52px;
            height: 52px;
            margin-top: 7px;
            padding: 10px;
            margin: auto;
            vertical-align: middle;
            margin-top: 13px;

        }
    }
    h4{
        font-size: 20px;
        padding-top: 65px;
    }
    p{ 
        padding-top: 30px;
        padding-bottom: 14px;
        max-width: 309px;
        margin: auto;
        font-size: 18px;
    }
    position: relative;
    button{
        width: 277px;
        height: 52px;
        color: #FFF;
        border: none;
        border-radius: 26px;
        background: rgba(255, 255, 255, 0.4) ;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        bottom: 25px;
        margin-left:-133px;
        
      

    }
   }
} 

.logo{
    height: 97px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
    
    img{
        margin: auto;
        width: 241px;
        height: 69px;
        margin-top: 20px;
        margin-bottom: 14px;
       
    }

}
}