.Login_process{
    font-size: 22px;
   // font-weight: 500;
.right_section{
  
    width: 100%;
    height:100%;
  
    position: fixed;
    img{
    
       
       
    }
    @media screen and (max-width: 990px) {
      display: none;
    
        }
    
    
}
.process_nav{
    @media screen and (max-width: 990px) {
      width: 150%;
      margin: auto;
      
          }
          @media screen and (max-width: 578px) {
              margin-left: 0;
            width: 100%;
            
                }

}

.options{
    margin-left: 30%;
    @media screen and (max-width: 990px) {
        max-width: 50%;
        margin-left: 10%;
        margin-bottom: 30px;
       
    
        }
   
        .option{

            margin-left: 8%;
        }
  


}


.login{
   
    width: 50%;
   
    box-shadow: 0px 3px 6px #00000029;
    margin-left: 4%;
    z-index: 9;
    padding-top: 20px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 150px;
  text-align: center;
    .main_input{
        width: 482px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        max-width: 90%;
        border-radius: 5px;
        
        label{
            font-size: 19px;
          //  font-weight: 500;
            @media screen and (max-width: 570px) {
                  left: -10px;
            }
        }
        input{
            width: 100%;
            font-size: 18px;
            padding: 27px;
        }
        .mark{
            right: 2%;
        }
        
    }
    
    @media screen and (max-width: 990px) {
       // margin-left: 100px;
       display: block;
       width: 70%;
       margin: auto;
       input{
           padding-left: 10px;
       }
    }  
    @media screen and (max-width: 500px) {
       width: 90%;
      padding: 5px;
     }  
 

    .owner_or_employee{
        
        margin: auto;
        background-color: #DADCD4;
        min-width: 90%;
        min-height: 62px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        width: 248px;
        margin-top: 10px;
        
        
        @media screen and (max-width: 1250px) {
       
        max-width: 70%;
        margin-left: 10px;
        text-align: center;
        padding-bottom: 3px;
        
     
        }
       
       
        img{
            width: 24px;
            height: 24px;
            margin: 20px;
        }
    }
    .active{
        background-color: #4390E0;
    }
   
    .action{
        text-align: center;
    .checkbox{
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 50%;
        border: none;
        margin-right: 10px;
        border: 1px solid #71a43f;
     }
    
     .dark_button{
         text-align: center;
     width: 158px;
     height: 50px;
   //  padding: 10px 0px  ;
     
     border-radius: 25px;
     margin-top: 27px;
     margin-bottom: 27px;

     
     }
        
    
    .forget_password{
        margin-top: 24px;
        margin-bottom: 13px;
        padding-top: 0;
    }
    .blue{
        color: #4390E0;
    }
    .agree_privacy{
        margin-top: 52px;
        font-size: 18px;
    }
    .sign_up{
        color: #000;
        font-size: 20px;
    }

}
.timer{
    //  float: right;
    text-align: right;
    width: 482px;
    max-width: 90%;
      color: #969B85;
      margin: auto;
      font-size: 20px;
      margin-top: 10px;
      .blue{
          color: #152F55;
          margin-right: 10px;
          font-weight:600;
          cursor: pointer;
      }
  }
   
}
.owner_login{
    padding-top: 70px;
    .justify-content-md-center{
        margin-bottom: 100px;
    }
     .action{
        padding: 0;
     }
    
  
}
.owner_register{
    .owner_or_employee{
        text-align: center;
    //  height: 18px;
     width:593px;
     min-width:70%;
     margin: auto;
     max-width: 60%;
     padding: 0px 20px;
 //     max-width: 90%;
 @media screen and (max-width: 570px) {
    padding-bottom: 10px;
    width: 100%;
}
    }
    .title{
        text-align: center;
        color: #000;
        font-size: 20px;
        font-weight: bold;
      
        margin-top: 45px;
       
      
    }
}
.confirmation{
    padding-top: 100px;
    .text{
        font-size: 20px;
        color:#000;
        width: 80%;
        margin:auto;
        margin-bottom: 75px;
        .bold{
            font-weight: bold;
        }
    }

   
    .line{
        height: .5px;
        background-color: #969B85;
        width: 80%;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}
.forget_password{
    text-align: center;
    color: #000;
    padding-top: 100px;
    font-size: 20px;
   
    .dark_button{
        margin-top: 50px;
        margin-bottom: 150px;
    }

}
.reset{
    padding-top: 100px;
    text-align: center;
    color: #000;
    .title{
        font-weight: bold;
        margin-bottom: 25px;
    }
    .send_mail_types{
        text-align: left;
        color: #969B858F;
        border: solid  1px  #969B858F;
        padding: 20px 0;
        width: 80%;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 80px;
        padding-top: 30px;
        input{
            margin-right: 10px;
            margin-left: 20px;
           width: 20px;
           height: 20px;
           
        }
     
    }
    .sign_up{
        margin-top: 115px;
      
    }
}
.reset_code{
    padding-top: 100px;
    .dark_button{
        margin-top: 46px;
    }
    .sign_up{
        margin-top: 72px;
      
    }
    .title{
        width: 80%;
        margin: auto;
        color: #000;
    }
}
.password_form{
    .title{
        margin-top: 90px;
        margin-bottom: 30px;
        color: #000;
    }
    .main_input{
        margin-top: 35px;
    }
    .dark_button{
        margin-top: 70px;
    }
}

}
