.vehicles-ovner-vehicles_view{
    .vehicles_car{
        .name {
            margin-top:10px;
            margin-bottom:20px;
        }
        .right{
            margin-top:10px;
        }
        a{
            .text{
                font-size:16px;
                text-decoration: underline;
                font-weight: bold;
                color: #4390E0;


            }
            
        }
        button{
            color: #fff;
            background-color: #152F55;
            width: 246px;
            height: 51px;
            display: block;
            margin:20px auto;
            border: none;
            border-radius: 26px;
            span{
                margin-right: 7px;
            }

        }
     
    }
}