@import "~bootstrap/scss/bootstrap";
@import "components/buttons.scss";
@import "components/layout";
@import "components/inputs";
@import "components/table";
@import "cycle_one/Landing_page/nav";
@import "cycle_one/Landing_page/car_care_center";
@import "cycle_one/Landing_page/autorepair";
@import "cycle_one/Landing_page/Services";
@import "cycle_one/Landing_page/grage_mange_invoices";
@import "cycle_one/Landing_page/footer";
@import "cycle_one/login-signin/Login_sign";
@import"cycle_one/login-signin/login_process";

//workshops
@import"cycle_one/workshops/sideBar";
@import"cycle_one/workshops/grage_owner_dashbord";
@import"cycle_one/workshops/workOrders";
@import"cycle_one/workshops/createWorkOrder";
@import"cycle_one/workshops/selectSparePartsInventory";
@import"cycle_one/workshops/purchase";
@import"cycle_one/workshops/single_work_order";