@import "~bootstrap/scss/bootstrap";
@import "components/buttons.scss";
@import "components/layout";
@import "components/inputs";
@import "components/table";
@import "cycle_one/Landing_page/nav";
@import "cycle_one/Landing_page/car_care_center";
@import "cycle_one/Landing_page/autorepair";
@import "cycle_one/Landing_page/Services";
@import "cycle_one/Landing_page/grage_mange_invoices";
@import "cycle_one/Landing_page/footer";
@import "cycle_one/login-signin/Login_sign";
@import"cycle_one/login-signin/login_process";

//workshop-owner
@import"cycle_one/workshops/sideBar";
@import"cycle_one/workshops/grage_owner_dashbord";
@import"cycle_one/workshops/workOrders";
@import"cycle_one/workshops/createWorkOrder";
@import"cycle_one/workshops/selectSparePartsInventory";
@import"cycle_one/workshops/purchase";
@import"cycle_one/workshops/single_work_order";
@import"cycle_one/workshops/viewCustomer";
@import"cycle_one/workshops/vehicle";
@import"cycle_one/workshops/employs";
@import"cycle_one/workshops/addemoploy";
@import"cycle_one/workshops/allOverDue";
@import"cycle_one/workshops/singleItemInventory";
@import"cycle_one/workshops/vehicle2";
@import"cycle_one/workshops/addVehicle2";
@import"cycle_one/workshops/addSpareParts";
@import"cycle_one/workshops/businesses";
@import"cycle_one/workshops/transAction";
@import"cycle_one/workshops/calender";
@import"cycle_one/workshops/vehicleView";
@import"cycle_one/workshops/chooseGrage";
@import"cycle_one/workshops/addWorkOrderGrage";
@import"cycle_one/workshops/grageCustomers";
@import"cycle_one/workshops/createWorkOrder2";
@import"cycle_one/workshops/manageInventory";
@import"cycle_one/workshops/grageFinance";
@import"cycle_one/workshops/paidInvoicess";
@import"cycle_one/workshops/subscribtionHistory";
@import"cycle_one/workshops/subscribtion";
@import"cycle_one/workshops/marketing";
