@import "~bootstrap/scss/bootstrap";
@import "components/buttons.scss";
@import "cycle_one/Landing_page/nav";
@import "cycle_one/Landing_page/car_care_center";
@import "cycle_one/Landing_page/autorepair";
@import "cycle_one/Landing_page/Services";
@import "cycle_one/Landing_page/grage_mange_invoices";
@import "cycle_one/Landing_page/footer";
@import "cycle_one/login-signin/Login_sign";