.add_sparePart{
    width: 90%;
    margin-top: 50px;
    background-color: #fff;
    padding-bottom: 150px;
    .header{
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
        border-bottom: 1px solid #EFEFEF;
    }
    .body{
        padding: 20px;
 
    .upload{
        width: 100%;
        height: 66px;
        background-color: #ECEAEA;
        font-size: 18px;
        font-weight: 500;
        padding-top: 20px;
        color: #152F55;
        &:hover{
            cursor: pointer;
        }
        span{
          vertical-align:middle;
        }
        img{
            width: 20px;
            height: 25px;
           
          
            margin-left: 50px;
            margin-right: 20px;
            opacity: 60%;

        }
    }
   .main_input{
       label{
           left: 0;
       }
       input{
           margin: auto;

       }
       .wider_input{
        margin: auto;
        text-align: left;
           width: 90%;
           border: 1px solid #707070;
           height: 60px;
           padding: 40px;
           padding-bottom: 50px;
           input{
            width: 16px;
            height: 16px;
            margin-right: 3px;
           
           
           }
           label{
               
               color: #969B85CF;
               
               display: inline;
               padding: 0;
               margin-left: 0;
               position: static;
               margin-right: 0;
               right: 0;
               margin-right: 100px;
           }

       }
   }

    
          
}
.textarea_label{
    left: 2%;
}

.textareaa{
    height: 84px;
    width: 90%;
    padding: 25px 30px;
    margin-left:5.5%;
    color: red;
    float: left;
    text-align: left;
}

.btn{
    color: #fff;
    background-color:#152F55 ;
    float: right;
    margin-top: 70px;
    width: 242px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    margin-right: 50px;

}  

 

}
