.add_newEmploy{
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    width: 90%;
    padding-bottom: 100px;
    .header{
        padding: 20px;
        font-weight: 500;
        font-size: 20px;
        border-bottom: 1px solid #0000001A;
        
    }
    .body{
 
        padding: 30px;

        .input_row{
            margin-bottom: 50px;
            font-size: 18px;
            font-weight: 500;
            padding-left: 20px;
            .main_input{
                margin-top: 30px;
            }
            input{
                padding: 20px;
                padding-left: 30px;
                width: 90%;
                color: #969B85CF;
            }
            label{
                left: 0px;
            }

        }
        

    .system_tasks{
        position: relative;
        margin-top: 50px;
        padding: 20px;
        .title{
           
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 500;
        }
        label{
            position: absolute;
            left: 50px;
            top: 63px;
            height: 30px;
            background-color: #fff;
            padding-left: 12px;
            padding-right: 12px;
            color: #000;
            font-weight: 500;
            font-size :18px;
            
          
        }
      
        .check_box{
          //  float: left;
          width: 100%;
          border: 1px solid #000;
          padding: 20px;
          .checkbox_line{
              margin-top: 10px;
          input{
             
              padding: 0;
              border:1px solid #4390E0 ;
              width: 20px;
              height: 20px;
              vertical-align:middle;
              margin-right: 7px;
              &:hover{
                  cursor: pointer;
              }
          }
            label{
                position:static;
                margin: 0;
                padding: 0;
                color: #969B85CF;
                font-size: 16px;
             

            }
        }
        }
    }
    .btn{
        color: #fff;
        background-color: #152F55;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        float: right;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    }
      


}