.add_vehicle2{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    background-color: #fff;
    padding-bottom: 200px;
    .header{
        padding: 30px;
        border-bottom: 1px solid #EFEFEF;
        color: #000000;
        font-size: 20px;
        font-weight: 500;

        .input_div{
            position: relative;
            display: inline-block;
            float: right;
             @media screen and (max-width: 540px) {
               float: none;
               margin-top: 10px;
               }
        input{
            border:  1px solid #969B85;
            vertical-align: text-bottom;
            width: 270px;
            height: 38px;
            padding: 10px 20px;
            font-weight:normal;
            font-size: 14px;
         
        }
        
        .icon{
            position: absolute;
            right: 20px;
            top: 3px;
            color: #969B85;
        }
        }

        }
        .body{
            
                .info{
                    padding-top: 63px;
                    span{
                       color: #000;
                       font-weight: 500;
                       font-size: 18px;
                       margin-left: 2.5%;
                    }
                .main_input{
                    margin: auto;
                    margin-top: 70px;
                    label{
                        top: -48px;
                        left: 7px;
                       // position: relative;
                        font-size: 18px;
                      //  padding: 0;
                      //  margin-left: 0;
                        font-weight: 500;
                      //  color: #152F55;
                      
                       
                 
               
                    }
                
                    input{
                        font-size: 16px;
                        padding: 20px;
                        width: 80%;
                        margin-top: -20px;
                    }
                    select{
                        position: absolute;
                         
                         width: 70%;
                         bottom: 18px;
                         border:none;
                         left: 14%;
                         font-size: 18px;
                         border: 0px;
                         outline: none;
                         color: #969B85CC;
                        option{
                            color: black;
                        }
                    }




                    
                }

            }
            .butn{
                border: none;
                color: #fff;
                width: 242px;
                height: 50px;
                background-color: #152F55;
                float: right;
                border-radius: 25px;
                margin-top: 95px;
                margin-right: 30px;
            }
        }  
}