.assets{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    background-color: #fff;
    padding-bottom: 50px;
    overflow-x: scroll;
    .header{
        padding: 30px;
        font-size: 20px ;
        font-weight: 500;
        border-bottom: solid 1px #EFEFEF;

        .right{
            float: right;
            font-size: 16px;
            font-weight: 300;
            @media screen and (max-width: 900px) {
                float: none;
                margin: 5px;
                button{
                    margin-bottom: 5px;
                }
                
                }
            button{
             border: none;  
             color: #ffff;
             padding: 9px 35px;
             border-radius: 25px;
             margin-right: 10px;
             @media screen and (max-width: 556px) {
               margin-top: 10px;
            }
             span{
                 vertical-align:text-bottom;
                 margin-right: 5px;
             }
            }
            .light_blue{
                background-color: #4390E0;

            }
            .dark_blue{
                background-color: #152F55;
                @media screen and (max-width: 556px) {
                    display: none;
                }
            }
            .mobile_button{
                display: none;
                @media screen and (max-width: 556px) {
                    display: inline-block;
                    margin: 0;
                }
            }
        }
    }
    .second_row{
        padding: 40px 30px;
       
      
        .search{
            border: solid 1px #969B85; 
            float: right;
            width: 270px;
            height: 38px;
            font-size: 14px;
            margin-right: 10px;
            @media screen and (max-width: 975px) {
                float: none;
                margin: 5px;
                margin-top: 15px;
                margin-bottom: -10px;
                
                }
            input{
                width:220px;
                padding-left: 20px;
                padding-top: 6px;
            }
            span{
                display: inline-block;
                padding-top: 5px;
                margin-left: 15px;
                color: #969B85;
            }
        }

   
    }
    table{
        thead{
            th{
                color: #707070;
            }
        }
        .SPARE{
            color: #EB0836;

        }
        .ASSET{
          color: #F2A911;
        }
        .assign{
            background-color: #fff;
            color: #152F55;
            border: solid 1px  #152F55;
        }
    }
    .input{
        margin: auto;
        margin-top: 50px;
        width: 641px;
        max-width: 90%;
        height: 42px;
        border: solid 1px #969B85;
        padding: 5px 10px;
        text-align: left;
        select{
            width: 100%;
            border: none;
            margin-top: 3px;
            outline: none;
            color: #757569;
        }
        input{
            width: 100%;
        }
    }
}

.create_asset{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    background-color: #fff;
    padding-bottom: 50px;
    min-height: 90vh;
    .header{
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: solid 1px #EFEFEF;
    }
    .body{
        width: 75%;
        margin-left: 30px;
        .main_input{
            input{
                width: 90%;
                padding: 20px 60px;
                border-radius: 5px;
            }
            select{
                left: 72px;
                width: 70%;
             }
        textarea{
            width: 80%;
            text-align: left;
            min-height: 84px;
            width: 90%;
            padding: 25px 30px;
            margin-left: 5%;
            padding: 20px 50px;
            border-radius: 5px;
        }
    }
    button{
       margin-left: 25px;
        margin-top: 75px;
        border: none;
        color: #fff;
        width: 242px;
        height: 50px;
        background-color: #152F55; 
        border-radius: 25px;     
        font-size: 20px;  

    }

    }
}