.create_work_order{
    .opacity{
        position: fixed;
    }
    margin: auto;
    width: 90%;
    background: #fff;
    margin-top: 50px;
    height: auto;
    padding-bottom: 140px;
    
    .main_ttitle{
        font-size: 20px;
        color: #000;
        padding: 20px;
        min-height: 70px;
        border-bottom: .25px solid #e4e6e1cf;
        font-weight: 500;
        @media screen and (max-width: 767px) {
           padding-bottom: 0px;
           }
        .right{
            display: inline-block;
            float: right;
            position: relative;
            width: 270px;
            height: 38px;
            padding: 3px;
            font-size: 14px;
            margin-top: -8px;
            margin-right: 20px;
            margin-bottom: 40px;
            @media screen and (max-width: 767px) {
                float: none;
                margin-top: 10px;
               }
            input{
                height: 35px;
              width: 100%;
                border: solid 1px #969b85;
               
                
            }
            span{
                margin-left: -30px;
                position: absolute;
                right: 20px;
                top: 12px;
                color: #969b85;
                &:hover{
                    color:#4390E0; ;
                    cursor: pointer;
                }
                
            }
        }
    }
    input{
        position: relative;
        padding: 20px;
        width: 90%;
    }
    select{
        position: absolute;
         
         width: 75%;
         bottom: 18px;
         border:none;
         left: 12%;
         font-size: 18px;
         border: 0px;
         outline: none;
         color: #969B85CC;
        option{
            color: black;
        }
        
    }
    .customer_info_create{
      padding-top: 0;
     
        .left_select{
            margin-left: 10%;
            max-width: 250px;
            @media screen and (max-width: 575px) {
                width: 80%;
                margin: auto;
                float: none;
                margin-top: 30px;
             
                }
        }
        .center_select{
            margin: auto;
            margin-top: 30px;
            max-width: 250px;
        }
        .right_select{
          float: right;
         margin-right: 3.75%;
         max-width: 250px;
         @media screen and (max-width: 575px) {
            width: 80%;
            margin: auto;
            float: none;
            margin-top: 30px;
         
            }
        }
        .phone-code{
            width: 25% !important;
        }
        .phone-number{
            width: 65% !important;
        }
        
    }
    .title{
        margin-top: 20px;
        margin-bottom: -25px;
        font-size: 18px;
        font-weight: 500;
        padding: 20px;
    }
    .margin_top{
        padding-top: 0px;
    }
    .vechile_info{
       
        padding: 0 30px;
    }
    .customer_info_create{
      
        padding-bottom: 60px;
        padding: 0 30px;
    }
  .big_input{
    height: 171px;
    width: 90%;
    padding: 25px 65PX;
    margin-left: 2%;
    
}
.main_input{
    margin-top: 30px;
    margin-left: 5%;
   
}

label{

    left: -10px;
   
}

.dark_button{
    width: 158px;
height: 50px;
padding: 0;
float: right;
margin-right: 40px;
margin-top: 50px;

font-size: 19px;
}



}


.after_work_order{
    min-height: 80vh;
    position: fixed;
    top: 10%;
    background-color:#fff;
    width: 65%;
    z-index: 9999999;
    margin-left: 23%;
   text-align: center;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 20%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   padding-bottom: 10px;
   @media screen and (max-width: 825px) {
   
    width: 90%;
    left: 5%;
   }
   img{
       margin-top: 105px;
   }
   .green_color{
       
       color: #71A43F;
       font-size: 20px;
       font-weight: bold;
       margin-top: 35px;
      
   }
   button{
    width: 348px;
    height: 47px;
    
    outline: none;
    border: none;
    border-radius: 25px;
    margin-top: 15px;
    max-width: 100%;
   }
   .dark{
    margin-top: 45px;
    background-color: #152F55;
    color: #fff;
   
   }
   .light{
    background-color: #ECEAEA;
    color: #152F55;
    font-weight: 500;
   
   }
}
