.workshop-background{
    width: 100%;
    height: auto;
    background-color:#F8F8F8 ;
    position: relative;

    
    .page{
        position: absolute;
        top: 0px;
        left: 225px;
        width: calc(100% - 200px);
        background-color:#F8F8F8 ;
        min-height: 100vh;
       
    }
 
}
.grage_owner_dashbord{
  margin: auto;
   padding-top: 32px;
    width: 90%;
    background-color: #F8F8F8;
    // @media screen and (max-width: 1250px) {
    //     margin-left: 0;
    //     padding: 20px;
      
    //   }   
   
    .right{
        text-align: right;
        float: right;
        margin-right: 82px;
        font-size: 18px;
        font-weight: bold;
        color: #969B85;
        margin-bottom: 51px;
        .blue{
            color: #152F55;
            margin-left: 10px;
        }
    }
    
    
    .box_info{
        width: 95%;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        .line{
            background-color: #fff;
            height: .25px;
            margin-top: 15px;
            margin-bottom: 10px;
            width: 120%;
            margin-left: -10%;
        }
        .bold{
            font-size: 20px;
            font-weight: bold;
        }
        
    }
    .secoond_row{
        margin-top: 45px;
    .tools_image{
        width: 97.5%;
        text-align: center;
        background-color: #E3EAFD;
        img{
            width: 219px;
            height: 227px;
        }
    }
    .appointment{
        width: 97.5%;
    height: 168px;
    background-color: #FFF;
    margin-top: 20px;
    box-shadow: 0px 3px 6px #00000029;
    color: #000;
    font-size: 18px;
    //font-weight: bold;
    padding: 20px;
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        margin-top: 20px;
      
      }   
    span{
        margin-left: 10px;
        color: #152F55;
        font-weight: bold;
    }
    .yello{
        color: #F2A911;
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .inline-block{
        float: right;
        text-align: right;
        margin-right: 15px;
        background-color: #4390E0;
        color: #fff;
        padding: 6px;
        padding-top: 1px;
        border-radius: 50%;
        font-size: 20px;
       
    }
    a{
        text-align: right;
        text-decoration: underline;
        float: right;
        margin-right: 20px;
        color: #4390E0;
        font-size: 14px;
        font-weight: normal;
    }
    }
    .title{
        font-size: 18px;
        color: #000;
        font-weight: bold;
    }
    .icon_row{
        margin-top: 20px;
        margin-bottom: 20px;
    .icon_box{
         padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 1%;
        padding-left: 1%;
        width: 90%;
        min-height: 70px;
        box-shadow: 0px 3px 9px #00000029;
        border-radius: 8px;
        text-align: center;
        background-color: #fff;
        font-size: 25px;
        .text{
            font-size: 18px;
        }
    }

}
}
.employes{
    font-size: 18px;
    font-weight: bold;
    a{
        margin-top: -12px;
        
           text-align: right;
           text-decoration: underline;
           float: right;
           margin-right: 20px;
           color: #4390E0;
           font-size: 14px;
           font-weight: normal;
    }
    @media screen and (max-width: 1250px) {
    background-color: #fff;
     width: 300px;
     margin: auto;
     padding: 20px;
     margin-left: 150px;
     box-shadow: 0px 3px 6px #00000029;
     border-radius: 9px;
     a{
         margin-top: -12px;
     }
    }  
    .title{
        margin-bottom: 10px;
    }
    .employ{
        font-weight: normal;
        margin-top: 0px;
        position: relative;
        img{
            width: 38px;
            height: 41px;
            border-radius: 50%;
            margin-bottom: 22px;
            margin-right: 10px;

        }
        .gray{
            font-size: 14px;
            color: #969B85;
        }
        .delete_icon{
            position: absolute;
            right: 20px;
            top: 12px;
            background-color:#969B8533 ;
            padding-left: 7px;
            color: #969B85;
            width: 34px;
            height: 33px;
            font-size: 20px;
            margin-left:40px ;
            margin-bottom: 40px;
            border-radius: 50%;
           
        }
        .tools_icon{
            background-color:#969B8533 ;
            color: #152F55;

        }
       
     
       
    }
    .customer_margin{
        margin-bottom: 10px;
   }
   .margin_top{
      margin-top: 30px;
   }
  
}

a{
   
    .center{
        color: #fff;
   
    }
}
}
.width{
    @media screen and (max-width: 1250px) {
      width: 150%;
      margin-bottom: 50px;
    
    }   
}