.grage_customers{
    margin: auto;
    background-color: #fff;
    margin-top: 50px;
    width: 90%;
    padding-bottom: 50px;
    overflow-x: scroll;
    .header{
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #EFEFEF;
        .right{
            border: none;
            color: #fff;
            background-color: #152F55;
            float: right;
            width: 284px;
            height: 38px;
            border-radius: 25px;
            font-size: 16px;
            @media screen and (max-width: 840px) {
                
                float: none;
                margin-top: 10px;
                margin-left: 10px;
                }
            span{
               
                vertical-align:text-bottom;
                margin-right: 3px;
            }
         

        }
    }
    .second_line{
        padding: 20px 30px;
        border-bottom: 1px solid #EFEFEF;
        @media screen and (max-width: 500px) {
                
          text-align: center;
            }
        button{
            border: none;
            border-radius: 25px;
            background-color: #5D5D5D3B;
            color: #5D5D5D;
            height: 45px;
            padding: 8px 40px;
            padding-bottom: 30px;
            margin-right: 20px;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .active{
            background-color: #95C1EE42;
            color: #000;
        }
        .right{
            float: right;
            position: relative;
            @media screen and (max-width: 1072px) {
                width: 284px;
                float: none;
              
                margin-left: 10px;
                }
            input{
                border: 1px solid #969B85;
                width: 284px;
                height: 38px;
                padding: 5px 20px;
                position: relative;

            }
            span{
                position: absolute;
                top: 5px;
                right: 10px;
                color: #969B85;
            }
        }
    }
    .third_line{
        padding: 15px 30px;
        color: #707070;
        .input_block{
            margin-right: 34px;
        }
        .alpha_small{
            @media screen and (max-width: 665px) {
                
               display: block;

               margin-top: 10px;
                }

        }
        .alpha{
            margin-bottom: 0;
            font-weight: bold;
            font-size: 22px;
        }
    }
    table{
        thead{
            th{
                color: #707070;
            }
        }
    }
}