.mintenance{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    background-color: #fff;
    min-height: 80vh;
    padding-bottom: 100px;
    .header{
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: solid 1px #EFEFEF;
        .right{
            float: right;
            color: #EB0836;
            .under_line{
                margin-left: 10px;
                font-weight: bold;
                text-decoration: underline;
                color: #EB0836;
            }
        }
    }
    .body{
        padding: 30px;
        button{
            border: none;
            color: #fff;
            background-color: #152F55;
            width: 242px;
            height: 38px;
            border-radius: 25px;
            float: right;
            span{
                vertical-align:top;
            }
        }
        .packages{
            margin-top: 100px;
        }
        .package{
            width:381px;
            max-width:97%;
            min-width: 70%;
            background-color: #fff;
           
            box-shadow: 0px 3px 8px #00000029;
            margin: auto;
            margin-bottom: 20px;
            img{
                width: 100%;
                height: 130px;
            }
            .info{
             
                padding: 10px 5px 20px 15px;
                .title{
                    font-size: 20px;
                    font-weight: 500;

                }
                .endline{
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight:500;
                    span{
                       
                        color: #f2a911;
                        margin: 5px;
                        font-weight: bold;
                    
                    }
                    .right{
                        float: right;
                        span{
                            background-color: #969b85;
                            color: #fff;
                            width: 30px;
                            height: 26px;
                            border-radius: 50%;
                            padding: 5px;
                            padding-top: 0px;
                        }
                        .blue{
                            background-color: #4390e0;
                        }
                    }
                }
            }
        }
    }
    .add_edite{
        padding: 50px 30px;

        input{
            margin-top: 30px;
            width: 100%;
            height: 66px;
            background-color: #ECEAEA;
            font-size: 18px;
            border-radius: 5px;
           // padding-top: 20px;
            color: #152F55;
            padding-left: 90px;

        }
        input::placeholder {
            color: #152F55;
        }
        
        .btn{
            border: none;
            color: #fff;
            background-color:#152F55;
            width: 200px;
            height: 50px;
            border-radius: 25px;
            padding: 0;
            float: right;
            margin-top: 70px;
           
        }
    }
    .upload{
        width: 100%;
        height: 66px;
        background-color: #ECEAEA;
        font-size: 18px;
        border-radius: 5px;
        padding-top: 20px;
        color: #152F55;
        &:hover{
            cursor: pointer;
        }
        span{
            vertical-align:middle;
          }
          img{
              width: 20px;
              height: 25px;
             
            
              margin-left: 50px;
              margin-right: 20px;
              opacity: 60%;
  
          }
    }
}