.mintenance{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    background-color: #fff;
    min-height: 80vh;
    .header{
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: solid 1px #EFEFEF;
        .right{
            float: right;
            color: #EB0836;
            .under_line{
                margin-left: 10px;
                font-weight: bold;
                text-decoration: underline;
                color: #EB0836;
            }
        }
    }
    .body{
        padding: 30px;
        button{
            border: none;
            color: #fff;
            background-color: #152F55;
            width: 242px;
            height: 38px;
            border-radius: 25px;
            float: right;
            span{
                vertical-align:top;
            }
        }
    }
}