.marketing{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    padding-bottom: 50px;
    background-color: #fff;
    overflow-x: scroll;
    .header{
        border-bottom: solid 1px #EFEFEF;
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        .inline-block{
            float: right;
            @media screen and (max-width: 950px) {
               float: none;
                margin: 10px 0 -20px 0;
                button{
                    margin-bottom: 5px;
                }
                
                }
            button{
                padding: 8px 0;
                font-size: 16px;
                font-weight: normal;
                border: none;
                border-radius: 25px;
                color: #fff;
                width: 217px;
               // height: 38px;
                margin-right: 15px;
                span{
                    width: 18px;
                    height: 10px;
                    background-color: #fff;
                    margin-right: 10px;
                    padding: 0px 1px 3px 6px;
                   
                }
                
                
            }
            .mail{
                background-color: #B10528;
                span{
                    color: #B10528;
                }

            }
            .msg{
                background-color:#4390E0;
                span{
                    color: #4390E0;
                }

            }
        }
    }
    .second_row{
        padding: 20px 30px;
        padding-right: 40px;
        @media screen and (max-width: 500px) {
          button{
              margin-bottom: 10px;
          }
             }
        button{
            border: none;
            background-color: #5D5D5D3B;
            color: #5D5D5D;
            padding: 8px 30px;
            margin-right: 10px;
            border-radius: 25px;
        }
        .desktop_button{
            @media screen and (max-width: 556px) {
                display: none;
               
            }
        }
        .mobile_button{
            display: none;
            @media screen and (max-width: 556px) {
                display: inline-block;
               
            }
        }
        .active{
            color:#000 ;
            background-color: #95C1EE42;
        }

        .inline-block{
            float: right;
            border: solid 1px #969B85;
            padding:2px 5px ;
            padding-left: 20px;
            width: 330px;
            @media screen and (max-width: 1024px) {
                float: none;
                 margin: 10px 0 -20px 0;
                
                 }
            input{
                width: 270px;
                height: 38px;

            }
            span{
                color: #969B85;
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }
    .third_row{
        padding: 20px 30px;
        border-top: solid 1px #EFEFEF;
        
        .alpha{
            margin-top: 5px;
            margin-bottom: 0;
            @media screen and (max-width: 556px) {
                margin-top: 20px;
            }
        }
        .right{
            float: right;
            display: inline-block;
            @media screen and (max-width: 1151px) {
                float: none;
                 margin: 10px 0 -20px 0;
                
                 }
            button{
                border: none;
                color: #000;
                background-color: #E3EFFB;
                padding:10px 35px;
                border-radius: 25px;
                margin-right: 5px;
                margin-bottom: 5px;
                @media screen and (max-width: 556px) {
                    margin-top: 10px;
                    padding: 10px 20px;
                }
            }
           
        }
        @media screen and (max-width: 556px) {
            text-align: center;
        }
    }
    table{
        thead{
            border-color: #EFEFEF;
            th{
                color: #707070;
            }
        }
        .check{
           text-align: left;
           padding-left: 5%;
         
           
        }
        th{
           
            input{
                margin-right: 5px;
            }
            .mail{
                text-align: center;
                width: 47px;
                max-width: 100%;
                height: 30px;
                color: #fff;
                background-color: #B10528;
                padding: 0px 6px 5px 12px;
                font-size: 22px;
                margin-right: 15px;
                cursor: pointer;
                @media screen and (max-width: 1128px) {
                    display:block;
                    margin:5px;
                    font-size: 18px;
                    
                    }

            }
            .msg{
                width: 47px;
                max-width: 100%;
                height: 30px;
                color: #fff;
                background-color: #4390E0;
                padding: 0px 10px 5px 10px;
                font-size: 22px;
                cursor: pointer;
                @media screen and (max-width: 1128px) {
                    display:block;
                    margin:5px;
                    font-size: 18px;
                    }

            }
        }
    }
}



.filter_marketing{
    padding-top: 5%;
    
    .title{
        font-size: 18px;
        font-weight: 500;
    }
    input{
        
        border: solid 1px #969B85;
        width: 70%;
        padding-left: 20px;
        height: 45px;
    }
    .ReactTags__remove{
        width: 20px;
        background-color: #ECEAEA;
        border: none;
        color: #000;
        width: 50px;
        height: 10px;
        margin-right: 0px;
      //  padding-left: 30px;
    }
}


.added_tag{
    padding: 5px 15px;
    height: 28px;
    background-color:#ECEAEA ;
    border-radius: 20px;
    color: #969B85CC;
    margin-right: 5px;
    cursor: none;
    z-index: 99999999;
   
}
.delete_tag{
    color: #5D5D5D;
    cursor: pointer;
}