.purchase{
    margin: auto;
    width: 90%;
 background-color: #fff;
 margin-top: 50px;
 .first_row{
 font-size: 20px;
 font-weight: 500; 
 padding: 30px;
 padding-left: 5%;
 border-bottom:1px solid #b3b4b2cf;;
 }
 .second_row{
    padding: 30px;
    padding-left: 5%;
    .payment_way{ 
        width: 448px;
        max-width: 95%;
        box-shadow: 0px 3px 6px #00000029;
        padding: 7%;
        text-align: center;
        color: #2699FB;
        @media screen and (max-width: 1210px) {
           margin: auto;
        }
        label{
            font-size: 16px;
            font-weight: bold;
        }

    
    
    
    }
        
    .visa{
       width: 77px;
      height: 77px;
       padding-bottom: 10px;
        border-bottom:5px solid #2699FB;
        margin-right: 80px;
    }
    .paypal{
        width: 77px;
        height: 77px;
        padding-bottom: 10px;
     
      //  border-bottom:3px solid #2699FB;
        opacity:0.52 ;
        &:hover{
            opacity: 100%;
        }
       
    }
    .card{
        width: 343px;
        height: 257px;
        border-radius: 10px;
        background-color: #F1F9FF;
        color: #2699FB;
        position: relative;
        margin-top: 22px;
        @media screen and (max-width: 1210px) {
            margin: auto;
        }
     
      
      .card_info{
        padding: 24px;
        .right_img{
            float: right;
            width: 70px;
            height: 20px;
        }
        .right{
            float: right;
        }
        .password{
            margin-top: 34px;
            margin-bottom: 34px;
        }
        .bold{
            font-weight: 500;
        }
      }
        .center{
            margin-top: 66px;
            color: #fff;
            background-color: #4390E091;
            width: 100%;
            width: 343px;
            height: 41px;
            position: absolute;
            padding-top: 8px;
            bottom:0px;
            font-weight: bold;
            &:hover{
                background:#152F55;
                cursor: pointer;
            }
        }  
    }
}
.input_div{
  //  
    margin:auto;
    margin-top: 35px;
    label{
     
        float: left;
    }
}
input{
    border-bottom:1px solid #2699FB;
    color: #2699FB;
    width: 100%;
    height: 25px;
    font-size: 20px;
    padding: 20px;
    padding-left: 5px;
    padding-top: 30px;
}
.center{
    input{
        width: 16px;
height: 16px;
margin-right: 10px;
cursor: pointer;
    }
    label{
        float:none;
    }
}
input::placeholder {
    color: #2699FB;

}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    background-color: #300a0a ;
    padding: 0px;
}
.button{
    margin-top: 42px;
    padding: 0;
    width: 199px;
    height: 35px;
    border-radius: 25px;
    background-color: #152F55;
    color: #fff;
   font-weight: 100;
    padding-bottom: 2px;
    font-size: 16px;
}
.paypal_way{
    .visa{
      
        border: none;
        opacity: 0.52;
        &:hover{
            opacity: 100%;
        }
    }
    .paypal{
        opacity: 100%;
        border-bottom:5px solid #2699FB;

    }
}
.saved_cards{
    font-size: 20px;
    font-weight: 500;
    @media screen and (max-width: 1210px) {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
     }
    
}
}

.success_purchase{
    width: 50%;
    margin-left: 25%;
    min-height: 80%;
    margin-top: 5%;
    background-color: #fff;
    padding-bottom: 20px;
    img{
        margin-top: 95px;
        margin-bottom: 37px;
        max-width: 100%;
    }
    .green{
      color: #71A43F;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 64px;
      span{
          font-size: 30px;     
      }
    }
    button{
        border: none;
        color: #fff;
        width: 348px;
        max-width: 90%;
        height: 47px;
        background-color: #152F55;
        box-shadow: 0px 3px 6px #152F558C;
        border-radius: 25px;

    }
}



.purchase_sub{
    .grage_name{
        display: none;
        
    }
    .total{
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
.thirtydays{
    color:#F2A911;
    font-size: 20px !important;
    font-weight: bold;
}