.sidebar{
    background-color: #fff;
    width: 80%;
  
    min-width: 223px;;
    padding-bottom: 50px;
    box-shadow: 0px 3px 12px #00000029;
    text-align: center;
    @media screen and (max-width: 767px) {
        display: none;
    }

    .logo{
    
        width: 158px;
        height: 45px;
        margin-top: 25px;
    
    }
    .dropdown_img{
        width: 34px;
        height: 32px;
        border-radius: 50%;
    }
    .dropdown{
        margin: auto;
        margin-top: 20px;
        background-color: #fff;
        color: #4390E0;
        border: none;
        margin-bottom: 17px;
        @media screen and (max-width: 900px) {
            width: 100%;
        max-width: 223px;
      
          
          }   
       
    }
    .btn-primary.dropdown-toggle{
        background-color: #fff;
        color: #4390E0;
        border: none;
        box-shadow: none;
    }
    .btn-primary.dropdown-toggle:focus{
        box-shadow: none;
    }
    .line{
        height: .25px;
        width: 100%;
        background-color: #969B85CF;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .link{
        margin:20px;
        text-align: left;
        color: #969B85CF;
        .img_link{
            width: 17px;
            height: 17px;
            margin-right: 10px;
            margin-left: 30px;
        }
        .text_link{
            font-size: 16px;

        }
        a{
            text-decoration: none;
            color: #969B85CF;
        }
    }
}