.sidebar{
    background-color: #fff;
 width: 223px;;
   
    min-height: 100%;
    min-width: 223px;;
    padding-bottom: 50px;
    box-shadow: 0px 3px 12px #00000029;
    position: fixed;
    text-align: center;
    margin-top: -22px;
    z-index: 1;
    @media screen and (max-width: 767px) {
        display: none;
    }

    .logo{
    
        width: 158px;
        height: 45px;
        margin-top: 25px;
    
    }
    .dropdown_img{
        width: 34px;
        height: 32px;
        border-radius: 50%;
    }
    .dropdown{
        margin: auto;
        margin-top: 20px;
        background-color: #fff;
        color: #4390E0;
        border: none;
        margin-bottom: 17px;
        @media screen and (max-width: 900px) {
            width: 100%;
        max-width: 223px;
      
          
          }   
       
    }
    .btn-primary.dropdown-toggle{
        background-color: #fff;
        color: #4390E0;
        border: none;
        box-shadow: none;
    }
    .btn-primary.dropdown-toggle:focus{
        box-shadow: none;
    }
    .line{
        height: .5px;
        width: 100%;
        background-color: #EFEFEF;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .link{
        margin:20px;
        text-align: left;
        color: #969B85CF;
        position: relative;
        .img_link{
            width: 17px;
            height: 17px;
            margin-right: 10px;
            margin-left: 30px;
        }
        .text_link{
            font-size: 16px;

        }
        a{
            text-decoration: none;
            color: #969B85CF;
        }
        .settings{
            width: 240px;
            min-height: 200px;
            background-color: #fff;
            box-shadow: 0px 3px 12px #00000029;
            position: absolute;
            left: 140px;
            top: -220px;
           
            .option{
                padding: 14px 25px;
                color: #4390E0;
                border-bottom: solid 1px #EFEFEF;;
            }
            .log_out{
                color: #EB0836;
            }
        }
    }
}