.subscription_page{
    width: 90%;
    background-color: #fff;
    margin-top: 50px;
    min-height: 90%;
    .header{
        font-size: 20px;
        font-weight: 500;
        color:#000 ;
        padding: 30px;
        border-bottom: solid 1px #EFEFEF;
        span{
            float: right;
            color: #5D5D5D;
        }
    }
    .body{
        padding: 100px 20px;
        .subscribtion_type{
            text-align: center;
            width: 200px;
           max-width: 100%;
            box-shadow: 0px 3px 8px #00000029;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: 20px;
            .days{
                padding-top: 26px;
                color: #000;
                .num{
                    
                    font-size: 39px;
                    font-weight: bold;

                }
                .text{
                    font-size: 20px;
                    font-weight: 500;

                }
            }
            .price{
                margin-top: 10px;
                padding: 5px 0;
                color: #F2A911;
                border-bottom: solid 1px #EFEFEF;
                border-top: solid 1px #EFEFEF;
                font-size: 21px;
                font-weight: bold;

            }
            a{
                color:#4390E0 ;
                font-size: 20px;
                font-weight: bold;
                text-decoration: underline;
                display: block;
                margin:  24px 0;
            }
            
        }
        .help{
            color:#EB0836 ;
            font-size: 22px;
            font-weight: 500;
            margin-top: 100px;
        }
    }
}