.add_vehicle{
    margin: auto;
    width: 90%;
    background-color: #fff;
    margin-top: 50px;
    padding-bottom: 200px;
    .header{
        color: #000;
        font-size: 20px;
        font-weight: 500;
        padding: 40px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EFEFEF;
       
    }
    .vehicle_info{
        margin-top: 25px;
      span{
          margin-left: 35px;
          font-size: 18px;
          font-weight: 500;
      }
       .main_input{
           input{
               padding:15px 30px 10px 40px;
               border-color: #707070;
               font-size: 18px;
           }
           label{
               font-size: 18px;
               
               left: 3px;
           }
       }
         select{
        position: absolute;
         
         width: 70%;
         bottom: 18px;
         border:none;
         left: 14%;
         font-size: 18px;
         border: 0px;
         outline: none;
         color: #969B85CC;
        option{
            color: black;
        }
    }  

    }
    .butn{
        border: none;
        color: #fff;
        width: 242px;
        height: 50px;
        background-color: #152F55;
        float: right;
        border-radius: 25px;
        margin-top: 95px;
        margin-right: 30px;
    }

}


//  view_vehicle
.view_vehicle{
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    width: 90%;
    padding-bottom: 130px;
  
    
    .header{
        font-size: 20px;
      font-weight: 500;
      padding: 30px;
      border-bottom: 1px solid #EFEFEF;
     
          button{
              font-weight: 400;
              font-size: 16px;
              margin-top: 0;
            float: right;
              border: none;
              color: #fff;
              background-color: #152F55;
              width: 213px;
              height: 38px;
              border-radius: 25px;
              @media screen and (max-width: 500px) {
               float: none;
               margin-top: 10px;
             }
          
      }
    }
    .secod_row{
        .car_view{
          
            background-color: #fff;
            box-shadow: 0px 3px 6px #00000029;
            width: 370px;
           min-width: 370px;
           max-width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: auto;
            margin-top: 76px;
           

        }

        .customer_info{
            margin: auto;
            margin-top: 76px;
        }
    }
}