.vehicles_view{
    width: 90%;
    background-color: #fff;
    margin-top: 50px;
    .header{
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        border-bottom:solid 1px #EFEFEF;
        .right{
            border: none;
            color: #fff;
            background-color: #152F55;
            float:right;
            width: 213px;
            height: 38px;
            border-radius: 25px;
            vertical-align: text-top;
            margin-top: -5px;
            font-size: 16px;
             font-weight:normal;
            span{
                vertical-align: top;
                margin-right: 6px;
                display: inline-block;
                margin-top: -1px;
            }
        }
    }
    .body{
        padding: 70px 20px;
    }
}