.vehicle2{
    background-color: #ffffff;
    margin-top: 50px;
    width: 90%;
    padding-bottom: 100px;
    .header{
        padding: 30px;
        border-bottom: 1px solid #EFEFEF;
        color: #000000;
        font-size: 20px;
        font-weight: 500;

        .right{
            border: none;
            float: right;
             color: #fff;
             background-color: #152F55;
             width: 213px;
             height: 38px;
             border-radius: 25px;
             font-size: 16px;
             span{
                 vertical-align:text-bottom;
                 margin-right: 5px;
             }

        }
    }

    .body{
        margin-top: 50px;
        .vehicles_car{
            .right{
                display: none;
            }
        }
      
    }
}

// second line in view vhicles too

.vehicles_second_line{
    padding: 20px;
    border-bottom: 1px solid #EFEFEF;

    button{
        border: none;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 500;
        width: 143px;
        height: 37px;
        margin-right: 20px;


    }
    .all{
        background-color: #95C1EE42;
        color: #000000;

    }
    .active{
        background-color: #5D5D5D3B;
        color: #5D5D5D;

    }
    .right{
        float: right;
        .input_div{
            position: relative;
            display: inline-block;
        input{
            border:  1px solid #969B85;
            vertical-align: text-bottom;
            width: 270px;
            height: 38px;
            padding: 10px 20px;
            position: relative;
           
        }
        
        .icon{
            position: absolute;
            right: 20px;
            top: 6px;
            color: #969B85;
         }
        }
        .icons{
            background-color: #95C1EE42;
            padding: 2px 8px;
            height: 37px;
            border-radius: 12px;
            font-size: 29px;
            margin-left: 40px;
            .grid{
                color: #4390E0;
                vertical-align: text-bottom;

            }
            .list{
                color: #969B8552;
                vertical-align: text-bottom;

            }
        }
    }
}
// car component 
  .vehicles_car{
    padding: 20px;
    margin: auto !important;
    width: 370px;
    box-shadow: 0px 3px 6px #00000029;
    max-width: 100%;
    .name{
        color: #152F55;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 10px;
        display: inline-block;
    }
    .right{
        margin-top: 30px;
        float: right;
        display: inline-block;
        font-size: 18px;
        span{
            width: 30px;
            height: 26px;
            border-radius: 50%;
            background-color: gray;
            color: #fff;
            padding: 5px;
            padding-top: 2px;
            padding-left: 7px;
            vertical-align: text-top;
        }
        .gray{
            background-color: #969B85;
            margin-right: 5px;

        }
        .blue{
            background-color: #4390E0;
            margin-right: 5px;
        }
        .green{
            background-color: #71A43F;

        }
    }
    .main_info{
        color: #152F55;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid #EFEFEF;
        .line{
            margin:  10px;
            span{
                vertical-align: text-bottom;
            }
            .active{
                float: right;
                margin-right: 5px;
                color: #FCB92C;
                background-color: #FECA2969;
                padding: 2px 5px;
                border-radius: 9px;
                font-size: 14px;
            }
        }
    }
    .more_info{
        padding: 10px;
        color: #707070;;
        font-size: 16px;
    }

     .note{
         padding: 10px;
        font-size: 16px;
        color: #000;
        max-height: 55px;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        span{
            color: #152F55;
            font-weight: bold;
            margin-right: 5px;
       
            height: 50px;
        }
        .text{
            color: #707070;;
            margin-left: -35px;
         
        }
        &:hover{
            max-height: none;
        }
    }
}