.work_orders{
    overflow-x: scroll;
    min-height: 80vh;

    @media screen and (max-width: 967px) {
        .right{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    
    background-color: #fff;
    .opacity{
        position: fixed;
    }
    margin: auto;
   
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 150px;
    width: 90%;
   
   
    font-weight: normal;
 
    
     
   

 .head_section{
    
     .first_line{
         font-size: 20px;
         font-weight: 500;
         padding: 20px;
         .right{
             font-size: 16px;
             font-weight: normal;
             float: right;
             color: #fff;
             @media screen and (max-width: 967px) {
               
                float: none;
                
            }
            
           .light_blue{
               background-color: #4390E0;
               color: #fff;
              
               
               padding: 7px 30px;
               border: none;
               border-radius: 25px;
               @media screen and (max-width: 500px) {
                display: block;
                margin: 0;
                margin-top: 5px;
            }
           }
           .blue{
            width: 209px;
            height: 38px;
            background-color: #152F55;
            color: #fff;
            border: none;
            border-radius: 25px;
            margin-left: 20px;
            @media screen and (max-width: 500px) {
                display: block;
                margin: 0;
                margin-top: 5px;
            }
            span{
                vertical-align:text-bottom;
                margin-right: 2px;
            }
           }
           .show_desktop{
           
            @media screen and (max-width: 556px) {
                display: none;
            }
           }
           .show_mob{
            display: none;
            .blue{
            padding: 7px 25px;
            margin: 0;
            margin-left: 10px;
            width:auto;
            height: auto;
            }
            @media screen and (max-width: 556px) {
                display: inline-block;
            }
           }
         }
     }
     .second_line{
         color: #707070;
         padding: 20px;
         margin-bottom:10px;
         position: relative;
        //input_block
       
        @media screen and (max-width: 556px) {
               text-align: left;
               padding: 10px;
               .input_block{
                margin-bottom: 10px;

               }
              
               }
  
     
    
         .right{
            //  display:block;
            //  float: right;
             width: 270px;
            height: 38px;
            border: 1px solid #969B85;
           // padding: 10px;
            padding-left: 15px;
            float: right;
            margin-right: 20px;
            display: inline-block;
            margin-top: -6px;
            position:relative;
            @media screen and (max-width: 967px) {
               margin-top: 20px;
               margin-bottom: 20px;
                
                }
         @media screen and (max-width: 500px) {
            margin: auto;
            margin-top: 10px;
            margin-bottom: 20px;
         }
                input{
                    
                    width: 100%;
                    height: 90%;
                }
        
        
            
         }
         .icon{
            position: absolute;
            right: 20px;
            top: 6px;
         }

     }

 }
 
   
}

.created{
    background-color: #71A43F45;
    color: #71A43F;
}
.Progress{
    background-color: #FECA2969;
    color: #FCB92C;
}
.Completed{
    background-color: #95C1EE40;
    color: #95C1EE;
}
.state{
 
    max-width: 100%;
    height: 27px;
    border-radius: 11px;
    font-weight: bold;
//     padding: 5px;
//    padding-bottom: 10px;
}


.assign_employ{
    width: 80%;
    margin-left: 10%;
    min-height: 80%;
    margin-top: 5%;
    background-color: #fff;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 18px;
    z-index: 99999999999999999999999;
    input{
        border: 1px solid #969B85;
        width: 50%;
        padding: 7px;
        padding-left: 20px;
        margin-top: 117px;
        @media screen and (max-width: 1000px) {
            width: 80%;
          
           }
    }
    .search-result{
        padding: 10px;
        width: 50%;
        margin: auto;
        text-align:left;
        background-color: #fff;
        box-shadow: 0px 3px 6px #00000029;
        max-height: 160px;
        overflow-y: scroll;
        div{
          padding:5px 10px;
          cursor: pointer;
        }
        .selected{
            background-color: blue;
            color: #fff;
        }
    }
    .buttons{
        margin-top: 150px;
        button, .submit{
        color: #fff;
        border: none;
        width: 126px;
        height: 38px;
        border-radius: 25px;
        background-color: #4390E0;
        padding:0;
        }
        .gray{
            background-color: #969b85;
            margin-right: 20px;
        }
    }
}

//up and down number_input
.input_block{
    margin-right: 20px;
    position: relative;
    @media screen and (max-width: 825px) {
        margin: auto;
      
       }
    input{
       // margin-bottom: 10px;
       width: 81px;
       height: 24px;
        border:solid 1px  #152F55;
        padding: 3px;
        border-radius: 12px;
        margin-left: 7px;
        position: relative;
        padding-left: 5px;
        @media screen and (max-width: 556px) {
            width: 60px;
            margin-right: 3px;
        }

    }
    
    .change_number{
        position: absolute;
        color: #152F55;
        right: 10px;
        top: -6.5px;
        .change{
            &:hover{
                cursor: pointer;
                color: gray;
            }
        }
      
        .up{
            position: absolute;
            right: 0;
            top: 10px;
        }
    
    }



    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
      }
    

  
}




//filter
.filter{
    background-color: #fff;
    position: absolute;
    top: 10vh;
    left: 0;
    position: fixed;
    width: 60%;
    min-height: 80%;
    margin-left: 20%;
    text-align: center;
    padding-bottom: 50px;
    @media screen and (max-width: 767px) {
       top: 5vh;
       width: 80%;
       margin-left: 10%;
      }
    
  
    .title{
        color: #000;
        font-size: 18px;
        font-weight: 500;
        margin-top: 65px;
        
    }
    .status{
        text-align: left;
        color: #969B85;
        font-size: 14px;
        margin: auto;
       width:90%;
       min-height: 42px;
       border: 1px solid #969b85;
       margin-top: 70px;
       padding-top: 7px;
       text-align: center;
    .inline-block{
     margin:0 20px;
    }
    input{
        margin-right: 7px;
    }
   }
   .search_div{
       width:90%;
       position: relative;
       text-align: center;
       margin: auto;
   .search{
       margin-top: 30px;
       width: 100%;
       height: 42px;
       border: 1px solid #969b85;
       padding-left: 20px;
      
   }
   .icon{
       position: absolute;
       top: 37px;
       right: 20px;
       color: #969B85;
       
   }
}
   button{
       width: 126px;
       height: 38px;
       color: #fff;
       border-radius: 25px;
       border: none;
       margin-right: 22px;
       margin-top: 120px;
      
      
   }
   .gray{
       background: #969B85;
   }
   .blue{
       background:#4390E0 ;
   }

}


.table_hidden_list{
    background-color:#fff ;
    padding: 0px 10px;
    line-height: 2;
    font-size: 18px;
  z-index: 1;
//   left: -150px;
width: 220px;
right: 65px;
  top: 10px;
position: absolute;
box-shadow: 0px 3px 30px #00000029;

 
    .option{
      padding: 5px;
      text-decoration: none;
      font-size: 18px;
      padding: 3px;
      border-bottom: 1px solid #ECEAEA;
      color: #4390E0;
      font-size: 16px;
      a{
        text-decoration: none;
        color: #4390E0;
    }
        
        
        
    }
 
   

}