.work_orders{

    @media screen and (max-width: 967px) {
        .right{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    background-color: #fff;
    .opacity{
        position: fixed;
    }
    margin: auto;
   
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 100px;
    width: 90%;
   
   
    font-weight: normal;
 
    
     
   

 .head_section{
    
     .first_line{
         font-size: 20px;
         font-weight: 500;
         padding: 20px;
         .right{
             font-size: 16px;
             font-weight: normal;
             float: right;
             color: #fff;
             @media screen and (max-width: 967px) {
               
                display: block;
            }
           .light_blue{
               background-color: #4390E0;
               color: #fff;
              
               
               padding: 7px 30px;
               border: none;
               border-radius: 25px;
           }
           .blue{
            width: 209px;
            height: 38px;
            background-color: #152F55;
            color: #fff;
            border: none;
            border-radius: 25px;
            margin-left: 20px;
            span{
                vertical-align:top;
                margin-right: 5px;
            }
           }
         }
     }
     .second_line{
         color: #707070;
         padding: 20px;
         margin-bottom:10px;
         position: relative;
        //input_block
         
  
     
    
         .right{
            //  display:block;
            //  float: right;
             width: 270px;
            height: 38px;
            border: 1px solid #969B85;
            padding: 10px;
          //  padding-left: 15px;
            float: right;
            margin-right: 20px;
            display: inline-block;
            margin-top: -6px;
            position:relative;
            @media screen and (max-width: 967px) {
               margin-top: 20px;
               margin-bottom: 20px;
                
                }
                input{
                    
                    width: 100%;
                    height: 90%;
                }
        
        
            
         }
         .icon{
            position: absolute;
            right: 20px;
            top: 6px;
         }

     }

 }
 
   
}
.hidden_list{
    padding: 30px;
    line-height: 2;
    font-size: 18px;
   z-index: -1;
 
    option{
        padding: 10px;
        margin-top: 40px;
        border-bottom: 1px solid #000;
        
        
        
    }
 
   

}
.created{
    background-color: #71A43F45;
    color: #71A43F;
}
.Progress{
    background-color: #FECA2969;
    color: #FCB92C;
}
.completed{
    background-color: #95C1EE40;
    color: #95C1EE;
}
.state{
 
    max-width: 100%;
    height: 27px;
    border-radius: 11px;
    font-weight: bold;
//     padding: 5px;
//    padding-bottom: 10px;
}


.assign_employ{
    width: 80%;
    margin-left: 10%;
    height: 80%;
    margin-top: 5%;
    background-color: #fff;
    text-align: center;
    padding-top: 65px;
    font-weight: 500;
    font-size: 18px;
    z-index: 99999999999999999999999;
    input{
        border: 1px solid #969B85;
        width: 50%;
        padding: 7px;
        padding-left: 20px;
        margin-top: 117px;
    }
    .buttons{
        margin-top: 150px;
        button{
        color: #fff;
        border: none;
        width: 126px;
        height: 38px;
        border-radius: 25px;
        background-color: #4390E0;
        }
        .gray{
            background-color: #969b85;
            margin-right: 20px;
        }
    }
}

//up and down number_input
.input_block{
    margin-right: 20px;
    position: relative;
    input{
       // margin-bottom: 10px;
       width: 81px;
       height: 24px;
        border:solid 1px  #152F55;
        padding: 3px;
        border-radius: 12px;
        margin-left: 7px;
        position: relative;
        padding-left: 5px;

    }
    
    .change_number{
        position: absolute;
        color: #152F55;
        right: 10px;
        top: -6.5px;
        .change{
            &:hover{
                cursor: pointer;
                color: gray;
            }
        }
      
        .up{
            position: absolute;
            right: 0;
            top: 10px;
        }
    
    }



    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
      }
    

  
}




//filter
.filter{
    background-color: #fff;
    position: absolute;
    top: 10vh;
    left: 0;
    position: fixed;
    width: 60%;
    height: 80%;
    margin-left: 20%;
    text-align: center;
  
    .title{
        color: #000;
        font-size: 18px;
        font-weight: 500;
        margin-top: 65px;
        
    }
    .status{
        text-align: left;
        color: #969B85;
        font-size: 14px;
        margin: auto;
       width:90%;
       min-height: 42px;
       border: 1px solid #969b85;
       margin-top: 70px;
       padding-top: 7px;
    .inline-block{
        margin-left: 22px;
        margin-right:50px ;
    }
    input{
        margin-right: 7px;
    }
   }
   .search_div{
       width:90%;
       position: relative;
       text-align: center;
       margin: auto;
   .search{
       margin-top: 30px;
       width: 100%;
       height: 42px;
       border: 1px solid #969b85;
       padding-left: 20px;
      
   }
   .icon{
       position: absolute;
       top: 37px;
       right: 20px;
       color: #969B85;
       
   }
}
   button{
       width: 126px;
       height: 38px;
       color: #fff;
       border-radius: 25px;
       border: none;
       margin-right: 22px;
       margin-top: 120px;
      
   }
   .gray{
       background: #969B85;
   }
   .blue{
       background:#4390E0 ;
   }

}


