.auto_repair{
background-color: #fff;
margin-top: 72px;
margin-bottom: 98px;
.auto-mechanic-checking-car{
    height: 498px;
   max-height: 498px;
    background: url("../../../../src/backgrounds/auto-mechanic-checking-car.png");
    background-repeat:no-repeat ;
    background-size:80% 100%; 
    background-position: left center;
    @media screen and (max-width: 1024px) {
        background-position: center center;

    }
}
.info{
    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
   max-width: 85%;
   height: 498;
   overflow: hidden;
   margin: auto;
   margin-bottom: 0;
    .title{
        font-weight:  bold;
        font-size:  30px ;
    };
    p{
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: 20px ;
        
        max-width: 485px;
        color: #969B85;
        line-height: 1.7;
      height: 280px;
        overflow: hidden;
        &:hover{
            overflow:visible;
            height: auto;
        }
      
    }
    .store{
        background-color: black;
        width: 220px;
        height: 80px;
        border-radius: 15px;
        padding: 15px;
        color: #fff;
        float: left;
        margin-bottom: 10px;
        margin-top: 30px;
        img{
            display: inline-block;
            margin-bottom: 33px;
            width: 48px;
            height: 45px;
        }
        .inline_text{
            font-size: 16px;
            display: inline-block;
            margin-left: 13px;
            opacity: 0.8;
            &:hover{
                opacity: .100;
                cursor: pointer;
            }
            .store_name{
                font-size: 18px;
                font-weight: 500;
            }
        }
       
    }
    
}


}
