.car_care_center{
    background-color: #4390E08F;
  
    .car_center_info{
        margin-left: 27%;
        max-width: 333px;
        margin-top: 80px;
       min-height: 450px;
      
       z-index: 999999999999999;
      
        @media screen and (max-width: 1024px) {
            margin-left: 0;
      
            margin: auto;
            margin-top: 50px;
        }  
       

        span{
                font-weight: bold;
                font-size: 30px;
             //   font: normal normal bold 30px/47px Aileron;
               // font-family:Aileron ;
                letter-spacing: 0px;
                color: #000;
                opacity: 0.9;
               
                width: 304px;
              
        }
        p{ 
            margin-top: 20px;
            max-height: 103px;
            overflow: hidden;
            // &:hover{
            //     overflow:visible;
            // }
            color: #FFF;
            font-size: 22px;
            max-width: 333px;
            margin-bottom: 40px;
        }
        .buttons{
            display: block;
            margin-left: -10px;
            z-index: 999999999999999;
        }
    }
    .mask_group{
     
     z-index: 100;
        height: 450px;
        width: 100%;
  background-color: blanchedalmond;

     background: url("../../../../src/backgrounds/Mask\ Group\ 1.svg");
    background-repeat:no-repeat ;
     background-size:contain; 
     background-position: left center;
     @media screen and (max-width: 990px) {
         display: block;
        background-position: top center;
      margin-top: -140px;
       
   
      
        }

    }
}