.footer{
    background-color: #95C1EE;
    padding-top: 55px;
    padding:50px 36px;
    font-size: 22px;


     .subscribe{
        
         text-align: center;
         margin: auto;
         margin-bottom: 50px;
         .grage_logo{
             margin-bottom: 17px;
         }
         .social_logo{
          
            padding: 10px 15px;
            background-color: #fff;
            border-radius: 50%;
            margin: 10px;
            width: 38px;
            height: 42px;
            cursor: pointer;
            img{
                width: 15px;
                height: 22px;
                margin-bottom: 3px;
    
            }
        }
        input{
            border: none;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 11px;
            width: 245px;
            height: 52px;
            border-color: #fff;
            outline: none;
            margin-bottom: 21px;
            text-align: center;
            color: #969B85;
            font-size: 18px;
        }
     }   




    .title{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: #fff;
     
    }
 

    .copyright{
        margin-top: 105px;
       
        text-align: center;
        font-size:  20px;
        font-weight: bold;
    }
    .fotter_col{
    @media screen and (max-width: 1024px) {
       
    }
}
  .dark_button {
    width: 142px;
    height: 45px;
  }
   
}