.Land_nav{
    @media screen and (max-width: 990px) {
        
        text-align: center;
        }
   margin-bottom: 11px;
    .Land_logo{
        margin-left: 20%;
        margin-top:25px ;
        @media screen and (max-width: 990px) {
            margin-left: 0;
            margin-bottom: 10px;
            }
      
    }
    .options{
    margin-top: 34px;
    margin-left: 25%;
    @media screen and (max-width: 990px) {
        margin-top: 0;
        }
    
    
    .option{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/24px Aileron;
        text-align: left;
        font: normal normal normal 20px/24px Aileron;
        letter-spacing: 0px;
        color: #969B85BF;
        opacity: 1;
        font-size: 20px;
        overflow: visible;
        margin-right: 10%;
    }
    .active{
        color: #152F55;
        font-weight: bold;
    }
}
    .right{
       float: right;
        margin-right: 47px;
        margin-top: 21px;
        @media screen and (max-width: 990px) {
            margin-top: -15px;
           
       
          
            }
    }
    
}