.navv{
    background-color: #fff;
    @media screen and (max-width: 990px) {
        
        text-align: center;
       
        }
   margin-bottom: 11px;
    .Land_logo{
        margin-left: 20%;
        margin-top:25px ;
        @media screen and (max-width: 990px) {
            margin-left: 0;
            margin-bottom: 10px;
            text-align: center;
            }
      
    }
     
    .options{
    margin-top: 34px;
    margin-left: 25%;
    text-align: right;
    @media screen and (max-width: 990px) {
       margin: 0;
       margin-bottom: 20px;
        text-align: center;
        }
    
    
    .option{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/24px Aileron;
        text-align: left;
        cursor: pointer;
        font: normal normal normal 20px/24px Aileron;
        letter-spacing: 0px;
        color: #969B85BF;
        opacity: 0.9;
        font-size: 20px;
        width: 90%;
        margin-right: 10%;
        &:hover{
            color: #2e6cc7;
            
        }
        @media screen and (max-width: 767px) {
            margin-right: 5%;
             }
    }
    .active{
        color: #152F55 !important;
        font-weight: bold;
    }
}
    .right{
       float: right;
        margin-right: 47px;
        margin-top: 21px;
        margin-bottom: 21px;

        
        @media screen and (max-width: 990px) {
            margin: auto;
         display: block;
         float: none;
        
         margin-top: -10px;
         button{
            width: 40%;
          //  border-radius: 0;
         }
         @media screen and (max-width: 600px) {
            margin-top: 0px;
            margin-bottom: 5px;

         }
           
       
          
            }
    }
    
}