.services{
   
    background-color: #95C1EE;
    padding-bottom: 100px;
    padding-top: 56px;
    .title{
   font-size:30px ;
   font-weight: bold;


    }
   
    .service{
      
       max-width: 330px;
        height: 296px;
        background-color: #fff;
        margin-top: 57px;
        padding-top: 37px;
        overflow: hidden;
        
        
        .image{
            border-radius: 50%;
            width: 64px;
            height: 64px;
            
            text-align: center;
            margin-bottom: 37px;
        img{
           
            width: 35px;
            height: 35px;
            margin: auto;
            vertical-align: middle;
            margin-top: 15px;
        }

    }
    h5{
        font-size: 22px;
        margin-bottom: 13px;
    }
    p{
        font-size: 20px;
    }
    }
}
